# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local
.DS_Store
.idea/
*.swp
*.bak
*~

# Secrets
*.pem
*.key
.env
.env.local
